

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    width: 99vw;
}

h3 {
  margin-bottom:5%;
  padding: 0;
  text-shadow: 1px 1px 1px #000;
}

button {
    width: 30%;
    height: 15%;
    border-radius: 5%;
    border: 5px outset #A66829;
    margin-bottom: 5px;
    text-align: center;
}

button:hover {
    background-color: #CCCCCC;
}

button:active {
    border-style: inset;
}


table {
    border-collapse: collapse;
    margin: 50px;
    display: none;
    position: relative;
    transition: opacity 2s;
}


td {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 20pt;
}


#playerInfo {
    position: absolute;
    padding: 2px;
    z-index: 1;
}

#container {
    border: 5px ridge brown;
    display: inline-block;
}


#options {
    width: 300px;
    height: 300px;
    background-color: rgb(160, 160, 160);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    transition: opacity 2s;
}



#playersOpt {
    width: 300px;
    height: 200px;
    position: relative;
    text-align: center;
}



.fadeOut {
    transition: opacity 2s;
}
